body{
    background-image: url("../imagem.jpg"); 
    background-size:250vh 250vh;
    font-family: monospace;
  }
  .menu{
    background-color:white;
  }
  .menu ul {
    display:flex;
    justify-content: space-around;
  }
  .menu li {
    list-style:none;
  }
  a {
    text-decoration: none;
    color:teal;
  }
  a:hover {
    text-decoration: underline;
  }
  .site-subtitle,
  .site-title {
    text-align:center;
    color:whitesmoke;
  }
  .site-subtitle {
    font-style: italic;
  }
}
